<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>主界面</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">组管理</a>
                </li>
                <li>
                    <a href="#">用户管理</a>
                </li>
            </ul>
            <table class="table table-bordered">
                <tr>
                    <th>编号</th>
                    <th>组名</th>
                    <th>更新时间</th>
                    <th>状态</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
